In [1]:
v =5

In [2]:
v

5

In [3]:
id(v)

140726393645624

In [4]:
1v=9

SyntaxError: invalid decimal literal (4287692018.py, line 1)

In [5]:
v1=9

In [6]:
v1

9

In [7]:
v@=9

TypeError: unsupported operand type(s) for @=: 'int' and 'int'

In [8]:
v_=10

In [9]:
v_

10

In [10]:
_

'{"dataframes": [], "user": "Tharuni"}'

In [11]:
_v

NameError: name '_v' is not defined

In [12]:
_

'{"dataframes": [], "user": "Tharuni"}'

In [13]:
v_

10

In [14]:
if=10

SyntaxError: invalid syntax (3963200833.py, line 1)

In [15]:
else=10

SyntaxError: invalid syntax (4272386062.py, line 1)

In [16]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [17]:
len(keyword.kwlist)

35

In [18]:
prefix='py'
suffix='thon'

In [19]:
prefix

'py'

In [20]:
suffix

'thon'

In [21]:
'py' + suffix

'python'

In [22]:
_ + 20

TypeError: can only concatenate str (not "int") to str

In [23]:
tax =30.4 / 100
price = 100.4
price *

NameError: name 'py' is not defined