In [1]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [2]:
b | c

{4, 5, 6, 7, 8, 9, 10}

In [3]:
a | b | c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [5]:
c.difference(a)

{8, 9, 10}

In [6]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [7]:
c ^ a

{1, 2, 3, 4, 5, 8, 9, 10}

In [8]:
b ^ a

{1, 2, 3, 6, 7, 8}

In [9]:
a.symmetric_difference_update(b)

In [10]:
print(a)
print(b)
print(c)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [11]:
a.intersection(b)

{6, 7, 8}

In [12]:
b ^ a

{1, 2, 3, 4, 5}

In [13]:
a.symmetric_difference_update(b)

In [14]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [15]:
b & c

{8}

In [16]:
a & b & c

set()

In [17]:
c.intersection_update(b)

In [18]:
A1 = {1,2,3,4,5,6,7,8,9}
B1 = {3,4,5,6,7,8}
C1 = {10,20,30,40}

In [19]:
B1.issubset(A1)

True

In [20]:
A1.issuperset(B1)

True

In [21]:
C1.isdisjoint(A1)

True

In [22]:
A2 = {15,25,35,45}
B2 = {3,4,5,6,7,8}
C2 = {10,20,30,40}

In [23]:
B2.issubset(A2)

False

In [24]:
A2.issuperset(B2)

False

In [25]:
C2.isdisjoint(A2)

True

In [26]:
d = {}

In [27]:
type(d)

dict

In [28]:
d1 = {1:'one', 2:'two', 3: 'three'}
d1

{1: 'one', 2: 'two', 3: 'three'}

In [29]:
d2 = {'one' : 1, 'two':2, 'three' : 3}
d2

{'one': 1, 'two': 2, 'three': 3}

In [30]:
d2.keys()

dict_keys(['one', 'two', 'three'])

In [31]:
d2.values()

dict_values([1, 2, 3])

In [32]:
d2.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [33]:
len(d2)

3

In [34]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [35]:
mydict.items()

dict_items([('A', 'one'), ('B', 'two'), ('C', 'three')])

In [36]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [38]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':['Bat' , 'cat']}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria'], 'B': ['Bat', 'cat']}

In [39]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) 
mydict3

{'c': None, 'b': None, 'a': None, 'd': None}

In [41]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value)

In [42]:
mydict3

{'c': 10, 'b': 10, 'a': 10, 'd': 10}

In [43]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value)

In [44]:
mydict3

{'c': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30]}

In [45]:
value.append(40)
mydict3

{'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

#accessing items

In [46]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [47]:
mydict[1]

'one'

In [48]:
mydict.get(1)

'one'

In [51]:
mydict[2]

'two'

#add remove and change

In [4]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [5]:
mydict1['DOB'] = 1992 
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [54]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [7]:
mydict1['job1'] = 'analyst'
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1992,
 'Address': 'Delhi',
 'job1': 'analyst'}

In [10]:
mydict1.pop('job1')
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [11]:
mydict1.clear()
mydict1

{}

In [12]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

#COPY DICTIONARY

In [13]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [14]:
mydict1 = mydict #reference creation

In [15]:
id(mydict1), id(mydict)

(2538272262656, 2538272262656)

In [16]:
mydict2 = mydict.copy()

In [17]:
id(mydict2)

2538272185856

In [18]:
mydict['Address'] = 'Mumbai'

In [19]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [20]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [21]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

#loop through dictionary

In [22]:
for i in mydict:
    print(i , ':' ,mydict[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Mumbai

In [24]:
for i in mydict1:
    print(mydict1[i])

Asif
12345
1991
Mumbai

#Dictionary Membership

In [25]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [27]:
'Name' in mydict1

True

In [28]:
'Asif' in mydict1

False

In [29]:
'ID' in mydict1

True

#all and any()

In [30]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [31]:
all(mydict1)

True